@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* variable */
:root{
    --color-header: #FF7700;
    --color-font-header: #ffffff;
    --color-font: #000000;
    --color-button: #FF7700;
    --color-font-button: #ffffff;
    --color-input: #ffffff;
    --color-backgournd-grid: #c0c0c0;
    --color-backgournd-description: #ffffff;
    --color-font-description: #c0c0c0;
    --box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

}
/* reset all browser*/ 
*{
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
}
section{
    max-width: 750px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
        " header header " 
        " calendar form "
        " description description "
        " others_descriptions others_descriptions ";
}
/* setting grid to mobile */
@media screen and (max-width: 800px){
    section{
        max-width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-areas: 
            " header "
            " calendar "
            " form " 
            " description "
            "others_descriptions";
    }
}
@media screen and (max-width: 650px){
    section{
        max-width: 100%;
    }
}
.header{
    grid-area: header;
    background-color: var(--color-header);
    color: var(--color-font-header);
    text-align: center;
    box-shadow: var(--box-shadow);

}
.calendar{
    grid-area: calendar;
    background-color: var(--color-backgournd-grid);
    box-shadow: var(--box-shadow);

}
.form{
    grid-area: form;
    background-color: var(--color-backgournd-grid);
    box-shadow: var(--box-shadow);
}
.description{
    grid-area: description;
    background-color: var(--color-backgournd-grid);
    box-shadow: var(--box-shadow);
}
.others_descriptions{
    grid-area: others_descriptions;
    background-color: var(--color-backgournd-grid);
    box-shadow: var(--box-shadow);
    color: var(--color-button);
}
.other-description{
    color: var(--color-font-description);
    background-color: var(--color-backgournd-description);
}


label{
    margin: 5px;
}
input, select, textarea{
    background-color: var(--color-input);
    border: none;
    
}
.button{
    background-color: var(--color-button);
    margin-right: 20px;
    margin-left: auto;
    color: var(--color-font-button);
    box-shadow: var(--box-shadow);
    padding: 2%;
}

textarea{
    width: 98%;
    height: 70px;
    resize: none;
}

.hidden{
    display: none;
}